.link {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 600;

  &:hover {
    color: var(--secondary);
  }

  &--accent {
    color: var(--secondary);

    &:hover {
      color: var(--color-secondary);
    }
  }
}
